<% settings["enable_text_editor"] ||= '1'
settings["show_fields_option"] ||= 'all'
settings['selected_fields'] ||= {} %>
<% available_fields = @easy_page_modules_data[block_name][:available_fields] %>
<%= hidden_field_tag "#{block_name}[show_fields_option]", 'only_selected' %>

<div id="<%= block_name %>-field-selection" class="autoscroll">
  <table class="list">
    <thead>
      <tr>
        <th><%= l('easy_page_module.new_issue.field') %></th>
        <th><%= l('easy_page_module.new_issue.show') %></th>
        <th><%= l('easy_page_module.new_issue.default_value') %></th>
      </tr>
    </thead>
    <tbody>

      <% available_fields.each do |field_name, field_settings| %>
        <% field_prefix = "#{block_name}[selected_fields][#{field_name}]" %>
        <% field_val_name = "#{field_prefix}[default_value]" %>
        <% field_val_id = "#{block_name}_selected_fields_#{field_name}_default_value" %>
        <% value = settings['selected_fields'][field_name.to_s] ? settings['selected_fields'][field_name.to_s]['default_value'] : '' %>
        
          <% if field_name == :custom_fields %>
            <tr>
              <td><b><%= l(field_settings[:label] || "field_#{field_name}") %></b></td>
          
              <td>
                <%= check_box_tag "#{field_prefix}[enabled]", '1',
                  settings['selected_fields'][field_name.to_s] && settings['selected_fields'][field_name.to_s]['enabled'] %>
              </td>
              <td></td>
            </tr>
            
              <% IssueCustomField.all.each do |custom_field| %>
                <tr>
                  <td style="padding-left: 50px;"><%= custom_field.name %></td>
                  <td><%= check_box_tag "#{field_prefix}[#{custom_field.id}][enabled]", '1', settings['selected_fields'].dig(field_name.to_s, custom_field.id.to_s, 'enabled') %></td>
                  <td>
                    <%= custom_field.format.bulk_edit_tag self, "#{custom_field.id}", "#{field_prefix}[#{custom_field.id}][default]", custom_field, nil, settings['selected_fields'].dig(field_name.to_s, custom_field.id.to_s, 'default') %>
                  </td>
                </tr>
              <% end %>
          <% else %>
          <tr>
          <td><%= l(field_settings[:label] || "field_#{field_name}") %></td>
          
          <td>
            <%= check_box_tag "#{field_prefix}[enabled]", '1',
              settings['selected_fields'][field_name.to_s] && settings['selected_fields'][field_name.to_s]['enabled'] %>
          </td>
          
          <td>
            <% case field_name %>
            <% when :subject %>
              <%= text_field_tag field_val_name, value, :size => 60 %>
            <% when :description %>
              <%= text_area_tag field_val_name, value, :cols => 60, :rows => 10 %>
            <% when :project_id %>
              <% selected_project_value = (value.blank? ? {:name => '', :id => ''} : {:name => Project.where(:id => value).pluck(:name).join, :id => value}) %>
              <%= easy_select_tag(
                field_val_name, selected_project_value, field_settings[:values].blank? ? nil : project_tree_options_for_select(field_settings[:values], {:selected => value}),
                easy_autocomplete_path('add_issue_projects'),
                :html_options => {:id => field_val_id}, :root_element => 'projects') -%>
            <% when :tracker_id %>
              <%= select_tag field_val_name,
                options_for_select(field_settings[:values].collect {|t| [t.name, t.id.to_s]}, value),
                {:include_blank => true, :multiple => true, :size => 6} %>
            <% when :tracker_id, :assigned_to_id, :priority_id, :status_id, :fixed_version_id %>
              <%= select_tag field_val_name,
                options_for_select(field_settings[:values].collect {|t| [t.name, t.id.to_s]}, value),
                {:include_blank => true} %>
            <% when :start_date, :due_date %>
              <%= text_field_tag field_val_name, value, :size => 10, :id => "#{block_name}-#{field_name}" %>
              <%= calendar_for("#{block_name}-#{field_name}") %>
            <% when :attachments, :easy_is_repeating, :easy_issue_timer %>
              <%= hidden_field_tag field_val_name, value %>
            <% when :category %>
              <%= hidden_field_tag field_val_name, '' %>
            <% when :estimated_hours %>
              <%= text_field_tag field_val_name, value, size: 3, placeholder: l(:field_hours) %>
            <% else %>
              <%= text_field_tag field_val_name, value %>
            <% end -%>
          </td>
          </tr>
          <% end %>
        
      <% end -%>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  EASY.schedule.late(function() {
    var name = '<%= block_name %>';
    var select = $('#' + name + '_show_fields_option');
    var settings = $('#' + name + '-field-selection');
    initEasyAutocomplete();
    select.change(function() {
      settings.toggle($(this).val() === 'only_selected');
    });
  });
</script>
